@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50 text-slate-800;
}

/* Print-specific styles to format the PDF perfectly */
@media print {
  body {
    background-color: white !important;
  }
  .no-print {
    display: none !important;
  }
  .print-document {
    box-shadow: none !important;
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
  }
}